<!-- <p>login works!</p> -->


<div class="bootstrap-wrapper">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Registration Form</h1>
                <h2 class="text-center">Login</h2>
                <img src="../../../assets/login1.png" style="height: 75px; width: 75px;"/>
                <!-- <br>{{loginData|json}} -->

                <form (ngSubmit)="login()">
                    <!--UserName-->
                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        required
                        [(ngModel)]="loginData.username"
                        name="username"
                        matInput type="text" placeholder="Enter here">
                        <!-- <mat-hint>Username must be unique!!</mat-hint> -->
                    </mat-form-field>
                    <br><br>
                    
                    <!--Password-->
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        required
                        [(ngModel)]="loginData.password"
                        name="password"
                        matInput type="password" placeholder="Enter Password">
                        <!-- <mat-hint>Password must be same as used at the time of signup!!</mat-hint> -->
                    </mat-form-field>
                    <br><br>

                    <!-- <button type="submit">Login</button> -->
                    <div class="button-row">
                    <button mat-raised-button color="primary">Login</button>
                  <!-- <button style="left: 2%;" mat-flat-button color="accent">Reset</button>  -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>