<!-- <p>home works!</p> -->

<header>
    <div class="hotel">Welcome!</div>
    <nav>
        <a routerLink="" fragment="featured-section" scrolling="true">Featured</a>
        <a routerLink="" fragment="amenities-section" scrolling="true">Amenities</a>
        <a routerLink="" fragment="contact-section" scrolling="true">Contact</a>
    </nav>
</header>

<section class="featured-section" id="featured-section">
  <h2>Featured Rooms</h2>
  <div class="room-card">
    <img src="assets/room1.jpg" alt="Room 1">
    <div class="room-card-content">
      <h3>AC Room</h3>
      <p>Experience comfort at its best in our AC Room. Stay cool and cozy even during the hottest days. The room is well-appointed with modern amenities and ensures a pleasant stay for our guests.</p>
    </div>
  </div>
  <div class="room-card">
    <img src="assets/room2.jpg" alt="Room 2">
    <div class="room-card-content">
      <h3>Deluxe Room</h3>
      <p>Enjoy your stay in our spacious Deluxe Room. Unwind in the comfortable surroundings and experience luxury like never before. The room features modern amenities and stunning views of the city skyline.</p>
    </div>
  </div>
  <div class="room-card">
    <img src="assets/room3.jpg" alt="Room 3">
    <div class="room-card-content">
      <h3>Executive Suite</h3>
      <p>Indulge in the epitome of elegance with our Executive Suite. This suite offers a separate living area and bedroom, providing you with ample space and privacy. Relax and rejuvenate in style during your stay with us.</p>
    </div>
  </div>
  <div class="room-card">
    <img src="assets/room4.jpg" alt="Room 4">
    <div class="room-card-content">
      <h3>Professional Suite</h3>
      <p>Step into a world of luxury with our Professional Suite. Ideal for business travelers or those seeking a lavish experience, this suite features a spacious work area and elegant furnishings for a delightful stay.</p>
    </div>
  </div>
</section>

  

<section class="amenities-section" id="amenities-section">
    <h2>Amenities</h2>
    <ul>
      <li>Swimming Pool</li>
      <li>Spa and Wellness Center</li>
      <li>Fitness Gym</li>
      <li>Free Wi-Fi</li>
      <li>24-Hour Room Service</li>
      <li>Restaurant and Bar</li>
      <li>Conference Rooms</li>
      <li>Parking Area</li>
    </ul>
</section>

<section class="contact-section" id="contact-section">
    <h2>Contact Us</h2>
    <p>If you have any questions or inquiries, feel free to reach out to us:</p>
    <div class="contact-details">
      <div class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <p>123 Magenta Main Street, Pune, India</p>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <p>info@hotelpacific.com</p>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        <p>+1 (123) 456-7890</p>
      </div>
    </div>
</section>
  
  
  

  