<!-- <p>aftersignup works!</p> -->

<div class="bootstrap-wrapper">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Registration is successful.</h1>
                <h1 class="text-center">Current status of rooms.</h1>
                <!-- here the database will be displayed -->
                <!-- <table>
                    <tr>
                        <th>Room Type</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>AC</td>
                        <td>Rs. 4500/-</td>
                    </tr>
                    <tr>
                        <td>Deluxe</td>
                        <td>Rs. 6999/-</td>
                    </tr>
                    <tr>
                        <td>Executive</td>
                        <td>Rs. 8500/-</td>
                    </tr>
                    <tr>
                        <td>Professional Suite</td>
                        <td>Rs. 11000/-</td>
                    </tr>
                </table> -->

               <form (ngSubmit)="bookingclick()">
                    <div class="button-row">
                        <button mat-raised-button color="primary">Book Rooms</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
